@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+Display&family=Varela+Round&display=swap');
:root {
    font-family: 'Noto Sans Display', sans-serif;
    height: 100vh;
}

/*Menu lateral*/

.menu {
    position: fixed;
    left: 0px;
    top: 0px;
    height: 100%;
    width: 100%;
    padding-top: 10px;
    transform: translateX(-101%);
    z-index: 1;
    transition: 0.5s;
    background-color: rgba(0, 0, 0, 0.9);
}

a.menu-link {
    display: block;
    text-decoration: none;
    font-size: 7vw;
    padding: 13px 50px;
    color: white;
}

a.menu-link:hover {
    background-color: #822116;
}

a.menu-close {
    position: relative;
    left: calc(100% - 2.5em);
}

span.menu-close {
    padding: 3px;
    vertical-align: top;
    font-size: 1.7em;
    color: white;
}

span.menu-close:hover {
    border: 3px solid #822116;
    border-radius: 50px;
    margin: -3px;
}

span.menu-open {
    position: fixed;
    left: 10px;
    top: 10px;
    padding: 3px;
    vertical-align: top;
    font-size: 1.7em;
    color: black;
}

/*Lorem Ipsum*/

div.lorem {
    background-color: #d1ccc7;
    border: 5px double #001820;
    padding: 20px;
    width: 90%;
    margin: 0 auto;
}

p.lorem {
    text-align: justify;
    letter-spacing: 1px;
    word-spacing: 2px;
    line-height: 20px;
}

p.lorem:first-child::first-letter {
    font-size: 1.8em;
    padding: 0 6px;
    margin-right: 2px;
    color: white;
    background-color: #822116;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

/*Div decorada*/

.div-estilo1 {
    background-color: #585048;
    border: 0.5em dashed #001820;
    padding: 1em;
    outline: 7px dashed #332F2A;
    outline-offset: 7px;
    margin: 10px 5px;
    align-items: center;
}

.div-estilo1 h2 {
    background-color: #332F2A;
    margin: 1em 0;
    font-size: 2rem;
    text-align: center;
    color: white;
    font-family: 'Courier New', Courier, monospace;
    font-weight: 600;
}

/*tabelas*/

#tabelas table {
    border-spacing: 2px;
    margin: auto;
}

#tabelas td, #tabelas th {
    padding: 0px 7px;
    box-sizing: content-box;
}

#tabelas td:nth-child(2) {
    text-align: center;
}

.table-special tr {
    background-color: rgb(255, 139, 139);
}

.table-special tr:hover, .table-stats tr:hover:not(tr:first-child) {
    background-color: rgba(255, 0, 0, 0);
}

.table-stats caption {
    margin: 3px;
}

.table-stats tr {
    font-size: 1em;
    background-color: rgb(160, 255, 255);
}

/*Iframe Wikipédia*/

.iframe-wiki {
    display: none;
}

/*Hora e data*/

#relogio-botao button {
    background-color: #021323;
    color: #2AE840;
    padding: .5em .7em;
    border: 2px outset rgb(117, 117, 117);
    border-radius: 2px;
}

#relogio-botao button:active {
    border-style: inset;
}

/*Neon Neon Neon*/

#neon {
    font-size: 4em;
    font-weight: 400;
    font-family: 'Varela Round', sans-serif;
    color: #fff;
    text-shadow: 0 0 1px #fff, 0 0 4px #f00, 0 0 6px #f00, 0 0 8px #f00, 0 0 8px #f00, 0 0 10px #f00, 0 0 12px #f00;
}

/*Barra de navegação de páginas*/

nav {
    padding: 0;
    border: 1px solid black;
    border-radius: 4px;
    margin: 2em auto;
    width: fit-content;
}

nav a:visited, nav a:link {
    color: rgb(85, 85, 85);
    text-decoration: none;
}

nav a:hover {
    background-color: #203838;
    color: white;
}

nav a:active {
    background-color: #001820;
    color: white;
}

.page-current {
    background-color: rgb(85, 85, 85);
    color: white;
}

.page-current, .page-select {
    float: left;
    padding: .1em .5em;
    border-right: 1px solid rgb(85, 85, 85);
    margin: 0;
    font-size: 1.3em;
    vertical-align: middle;
}

nav :last-child {
    border: none;
}

/*Rodapé*/

footer {
    background-color: #333333;
    padding: 12px;
    color: white;
    line-height: 0;
}

footer div {
    max-width: 1024px;
    margin: 0 auto;
}

/*Detalhes texto*/

::selection {
    color: yellow;
    background-color: rgb(70, 70, 70);
}

/*Listas*/

ol {
    list-style-position: inside;
}

.lista .material-icons-sharp {
    line-height: 0px;
    vertical-align: -6px;
}

/*Posição e Display*/

.align {
    vertical-align: top;
}

.clearfix {
    overflow: auto;
}

.relative {
    display: relative;
}

.div-center {
    max-width: fit-content;
    margin-left: auto;
    margin-right: auto;
}

.max-width-600 {
    display: inline-block;
    max-width: 600px;
}

.w100 {
    width: 100%;
}

.base-input {
    padding: 5px 10px;
    border: 1px solid grey;
    border-radius: 5px;
    background-color: #fff;
}

input[type=range] {
    width: 300px;
    vertical-align: middle;
    padding: 0;
}

.base-input:focus {
    outline-color: #822116;
    outline-style: outset;
}

select.base-input:focus {
    border: 1px solid #822116;
}

/*Espaçamento*/

.space-adjacent {
    padding: 0 3vw;
    margin: 0;
}

.space {
    margin: 50px 0;
}

.space-left {
    margin-left: 10px;
}

output.space-left {
    margin-left: 20px;
}

.little-space {
    margin: 20px 0px;
}

h3.little-space {
    margin: 10px 0px;
}

h2.red-marker {
    font-size: 1.5em;
}

fieldset.space {
    padding: 0 40px;
    margin: 50px 0;
    background-color: #58504833;
}

/*Estilos de textos*/

.red-marker {
    padding-left: 10px;
    border-left: 3px solid #822116;
}

a.red-marker {
    font-size: 1.2em;
}

h3 {
    font-size: 1.4em;
}

.text-style1 {
    font-size: 2em;
    font-weight: 900;
    color: #585048;
}

a.no-link-style {
    text-decoration: none;
    color: black;
}

@media only screen and (min-width: 900px) {
    body {
        background-image: url('imagens/GVpto7z.gif');
        background-attachment: fixed;
        background-size: 1920px;
    }
    /*Corpo da página*/
    .body {
        max-width: 1024px;
        min-height: 700px;
        margin: 100px auto 50px;
        background-color: white;
    }
    /*Menu lateral*/
    header.menu {
        width: fit-content;
    }
    a.menu-link {
        font-size: 1.2em;
    }
    span.menu-open {
        color: white;
    }
    .div-estilo1 {
        margin: 10px -20px;
    }
    /*Tabelas*/
    #tabelas table {
        display: inline-block;
    }
    /*Iframe*/
    .iframe-wiki {
        display: block;
    }
    #iframe-wikipedia {
        height: 500px;
        width: 100%;
        border: 1px solid black;
    }
    .iframe-wiki a:link, .iframe-wiki a:visited {
        color: black;
        text-decoration: none;
    }
    .iframe-wiki p {
        display: inline-block;
        margin: .5em 1em;
    }
    /*posição e Display*/
    .div-thin {
        display: inline-block;
        max-width: fit-content;
    }
    /*Espaçamentos*/
    .space-adjacent {
        padding: 0 50px;
    }
}